<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <!-- adiciounou o css e foi na index.js fazer a alteração na const path e const use -->
    <title>To-Do List</title>
</head>

<body>
    <h1>why open your legs</h1>
    <h2>when u can open the bible</h2>

    <script src="script.js"></script>
</body>

</html>